/* html, body {
    height: 100%;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .bolinha{
    margin-right: 5px;
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
  }
  .usersOn{
    width: 100%;
    height: 90vh;
    overflow: auto; 
    margin: 30px auto;
  }
  #chat {
    margin: 30px auto; 
    height: 100%;
  }
  
  input {
    width: 600px;
    border: 1px solid #ddd;
    height: 50px;
    padding: 0 20px;
    font-size: 14px;
  }
  
  button {
    width: 600px;
    height: 50px;
    font-size: 14px;
    background: #069;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    color: #FFF;
    margin-top: 10px;
  }
  
  .messages {
    width: 600px;
    height: 400px;
    margin: 20px 0;
    overflow: auto;
    border: 1px solid #ddd;
    padding: 20px;
  }

  .message{
    padding: 15px;
    margin: 5px;
    width: 300px;
    word-wrap: break-word;
    height: auto;
    color:peachpuff;
    border-radius: 10px;
    background-color: #069;
  }
  .message strong{
    color: thistle;
  } */




  @import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  background: #1ddced;
}

.nickname_container {
  /* background: #ccc; */
  width: 500px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -250px;
  padding: 0;
  z-index: 2000;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.nickname_container input {
  text-align: center;
  color: #FFF;
  font-size: 20px;
  height: 50px;
  width: 400px;
  background: none;
  border-radius: 5px;
  border: 1px solid blue;
  margin: 15px 10%;
}
.nickname_container input:focus{
  border: 1px solid rgb(14, 133, 163);
  transition: 1s;
  border-radius: 5px;
}

.info {
  list-style: none;
  border-radius:10px; 
  min-width: 200px;
  max-width: 300px;
  text-align: center;
  margin: 2px auto;
  padding: 5px; 
  color: #FFF;
  background: #A2A4A4;
  opacity: .8;
}

.dados {
  width: 100%;
  height: 50px;
  margin-bottom: 2px;
  background: #22a6b3;
  border-radius: 2px;
}

.dados .name {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-left: 5px;
  font-size: 25px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.98);
  top: 3px;
}

.dados .last {
  margin-left: 5px;
  font-size: 8px;
  font-weight: bolder;
  color: rgba(255, 255, 255, 0.7);
  top: 20px; 
}

.chatbox {
  display: none;
  width: 500px;
  min-width: 390px;
  /* height: 600px; */
  background: #eee;
  /* background: linear-gradient(45deg, #1adda4, purple); */
  /* padding: 1px; */
  border-radius:5px;
  margin: 20px auto;
  /* box-shadow: 0 3px #ccc; */
}

.chatlogs {
  padding: 10px;
  width: 100%;
  height: 450px;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #eee;
}

.chatlogs::-webkit-scrollbar  {
  width: 7px;
}

.chatlogs::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-image: linear-gradient(-90deg, #1adda4, #1ddced);
}

.chat {
  display: flex;
  position: relative;
  flex-flow: nowrap;
  align-items: flex-start;
  margin-bottom: 10px;
}

.chat .avatar {
  width: 64px;
  height: 64px;
  background: #ccc;
  border-radius: 50%;
}
.self .avatar{
  background: url("img/man.png");
}
.friend .avatar{
  background: url("img/internet.png");
}
.chat .message {
  position: relative;
  min-height: 70px;
  width: 85%;
  padding: 10px;
  margin: 2px 10px 0px;
  background: #1ddced;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  word-wrap: break-word;
}

.friend .message {
  background: #1adda4;
}
.friend .message::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: -10px;
  border-left: 20px solid transparent;
  border-right: 0px solid transparent;
  border-top: 15px solid #1adda4;
}

.self .message {
  background: #1ddced;
  order: -1;
}
.self .message::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 98%;
  border-left: 0px solid transparent;
  border-right: 20px solid transparent;
  border-top: 15px solid #1ddced;
}

.friend .horaMsg{
  color: rgba(255, 255, 255, 0.8);           
  position: absolute;
  right: 2%;
  bottom: 2%; 
  text-decoration: none;
  font-size: 10px;
}
.self .horaMsg{
  color: rgba(255, 255, 255, 0.8);
  position: absolute;
  left: 2%;
  bottom: 2%; 
  text-decoration: none;
  font-size: 10px;
}
.form {
  margin-top: 5px;
  display: flex;
  align-items: flex-start;
}
.form .textarea {
  font-size: 15px;
  border-radius: 5px;  
  position: relative;
  bottom: 0px;
  width: 100%;
  height: 50px;
  z-index: 99;
  border: none;
  outline: none;
  padding: 10px;
  background: white;
  font-weight: 400;
  resize: none;
  border:1px solid #eee;
}
.form .textarea:focus{
  border: 1px solid #1adda4;
}
.video{
  cursor: pointer;
}
.video:hover{
  opacity: .7;
}